h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.container {
    position: relative;
    text-align: center;
    color: #00008b;
    width: 100%;
    padding: 0;
    margin: 0 0 -5px 0;
}

img.backgroundpic {
    width: 100%;
    margin: 0;
    padding: 0;
}
.centered {
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 35%;
    height: 10%;
    font-size: 1.5vw;
}

div.centered a {
    text-decoration: none;
    font-size: 2vw;
    font-variant: small-caps;
    border-radius: 10px;
    background-color: #ffffff;
    color: #7366bd;
    padding: 2%;
}

div.centered a:hover {
    color: #00008b;
}

footer {
    background-color: #191970;
    color: #e6e6fa;
    margin: 0;
    padding: 0;
}

h2.footerheader {
    text-align: left;
}
ul.footerul {
    list-style: none;
}
a.footerlink {
    color: #e6e6fa;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

footer ul {
    margin: 0;
    padding: 1vw;
}
