header {
    margin: 0;
    background-color: lavender;
    color: #ffffff;
    padding: 10px;
    font-variant: small-caps;
}

nav {
    font-size: 1.7vw;
    padding: 0;
    margin: 0;
}

header a:visited,
header a:hover,
header a
{
    color: #7366bd;
    font-family: sans-serif;
    font-style: normal;
    text-decoration: none;
    margin: 0 1em 0 0;
}

header a:hover {
    color: #00008b;
}