main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

main.image {
    max-width: 100%;
}

h1, h2 {
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
p {
    text-align: justify;
}
