body {
	margin:0;
	padding:0;
	font-family: "Comic Sans MS", sans-serif;
	font-size: 20px;
	color:#34495e;
}
a {
	text-decoration:none;
	color: salmon;
}
p {
	text-align:justify;
}
h1 {
	padding:4px;
	font-size: 21px;
	text-align:center;
	font-variant:small-caps;
	font-weight:bold;	
	border-bottom: 5px solid #f9be84;
}
h2 {
	padding:2px;
	font-size: 18px;
	text-align:left;
	font-weight:bold;	
	border-bottom: 2px solid #f9be84;
}

/* Разметка между head и header*/

header {
	width:100%;
	min-width:1920px;
	margin:0;
	padding:0;
	background-color:#f9be84;
    background: url(images/nature-3082832_1921.jpg);
	position:fixed;
	top:0;
	z-index:2;
}

.logo {
	position:relative;
	float:left;
	padding-left:12px;
	padding-top:5px;
	height:45px;
}
.logo a {
	position:absolute;
}
.logosecond {
	opacity:0;
	filter:alpha(opacity=0);
}	
.logo:hover .logosecond{
	opacity:1;
	filter:alpha(opacity=100);
}
.headline > li {
	display: inline-block;
	padding: 0px 36px 0px 36px;
	margin: 0;
	color:white;
	text-align: left;
	font-variant: small-caps;
	font-size:21px;
	font-weight:bold;
	position: relative;
}
.headline > li > ul {
    border-radius: 7px;
	display: none;
	padding: 14px;
	margin:0;
	color:white;
    background-color:#f9be84;
	font-weight:bold;
	font-size:18px;
	font-variant:normal;
    position:absolute;
}
.headline a,
.footer a {
	color:white;
}
.headline a:hover {
	color:lightsalmon;
}
a:hover {
	color:lightsalmon;
}
li {
	margin:3px;
	padding:3px;
	list-style-type: none;
}
ol li {
	list-style-type:decimal;
}
.headline li:hover {
	color:lightsalmon;
}
.headline > li:hover > ul {
	display:block;
}

/* Разметка между header и lside*/

.lside {
	float:left;
	margin-top:67px;
	margin-left:10px;
	padding-right:10px;
	width:20%;
	min-width:150px;
	background-color:rgba(0,191,255,0.21);
	border-radius:7px;
	position:fixed;
	z-index:1;
}

.lside h1 {
	margin: 0px;		
	border-bottom: 3px solid #f9be84;
}
.lside p {
	margin: 0px;
	padding: 4px;
}

/* Разметка между lside и section*/

section {
	width:72%;
	min-width:960px;
	float:left;
	margin-top:67px;
	padding:21px;
	margin-bottom:70px;
	margin-left:22%;
    border-radius:14px;
    background-color: rgba(143,221,163,0.33);
    
}

.quote {
	background:lavender;
	font-family:roboto, verdana, sans-serif;
	font-style:italic;
	margin-left:72px;
	margin-right:72px;
	border-left:5px dashed #f9be84; 
	padding: 10px;
}
.projectbody {
	height:216px;
	padding:12px;
	border-radius:21px;
	margin:21px;
}

.bratproject{
	color:maroon;
	background-color: rgba(0,128,0,0.216);
}

.bratproject h1 {
	border-bottom:5px solid darkgreen;
}

.partnerimg {
	float:left;
    margin-left: 21px;
    margin-right: 21px;
}
.imgeven {
	float:right;
}
.partnerimg img {
	width:210px;
	height:210px;
	border-radius:160px;
	border:3px solid darkgreen;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.partnerimg img:hover{
	width:240px;
	height:240px;
}

.brattext {
	float:right;
	margin-left:24px;
    margin-right: 99px;
}
.texteven {
	float:left;
    margin-right: 24px;
    margin-left: 99px;
}
.ARproject{
	color:black;
	background-color: rgba(0,191,255,0.216);
}

.ARproject img {
    border:3px solid midnightblue;
}
.ARproject h1 {
	border-bottom:5px solid midnightblue;
}

.Themearticles{
	color:Maroon;
	background-color: rgba(210,105,30,0.4);
}	
.Themearticles img {
    border:3px solid saddlebrown;
}
.Themearticles h1 {
	border-bottom:5px solid saddlebrown;
}
.Plumtheme {
	color:indigo;
	background-color: rgba(221,160,221,0.4);
}
.Plumtheme h1 {
	border-bottom:5px solid slateblue;
}
.Plumtheme img {
    border:3px solid slateblue;	
}
.Goldtheme {
	color:darkorange;
	background-color: rgba(255,215,0,0.314);
}
.Goldtheme h1 {
	border-bottom:5px solid orange;
}
.Goldtheme img {
    border:3px solid orange;	
}

.Redtheme {
	color:maroon;
	background-color: rgba(178,34,34,0.314);
}
.Redtheme h1 {
	border-bottom:5px solid darkred;
}
.Redtheme img {
    border:3px solid darkred;	
}
.Blacktheme {
	color:#922B3E;
	background-color: rgba(72,61,139,0.2);
}
.Blacktheme h1 {
	border-bottom:5px solid #4A192C;
}
.Blacktheme img {
    border:3px solid #4A192C;	
}
.blogbody {
	margin:24px 24px 24px 7px;
	padding: 7px;
	background-color: rgba(70,130,180,0.314);
}
.bloghead {
	padding:4px;
	clear:both;
	background-color:#f9be84;
	color:white;
}

.leftalign {
	float:left;
	margin:7px 14px 7px 7px;
}
.rightalign {
	float:right;
	margin:7px 7px 7px 14px;
}
.photo {
	border: 4px solid #f9be84;
}
.photo:hover{
    width: 500px !important;
}
.hht {
    border: 4px solid #f9be84;
}
.hht:hover{
    height: 500px !important;
}
.altphoto{
    width:333px;
    float:left;
    margin-bottom: 0px;
}
.altphoto img{
    width:314px;
    margin:auto;
    border: 4px solid #f9be84;
}
.altphoto p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.altphoto:hover{
    width:500px;
}
.altphoto:hover img{
    width:471px;
}
.photoright{
    float:right;
    margin-left: 10px;
}
.althphoto{
    height:333px;
    float:left;
    margin:14px;
}
.althphoto img{
    height:314px;
    margin:auto;
    border: 4px solid #f9be84;
}
.althphoto p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.althphoto:hover{
    height:500px;
}
.althphoto:hover img{
    height:471px;
}
/* Разметка между section и aside*/

aside {
	width:20%;
	min-width:150px;
	bottom:0;
	left:0;
	position:fixed;
	margin-bottom:70px;
	margin-left:10px;
	padding-right:10px;
	background-color:rgba(0,191,255,0.21);
	border-radius:7px;
}
aside h1 {
	margin: 0px;
	padding:4px;
	border-bottom: 3px solid #f9be84;
}
aside p {
	margin: 0px;
	padding: 4px;
}
.quoteauthor {
	text-align:right;
	font-style:italic;
}

.upw {
    font-variant: small-caps;
    text-align: center;
    margin: -7px;
    font-size: 18px;
    clear:both;
}


/* Разметка между aside и footer*/

.footer {
	position:fixed;
	bottom:0;
	left:0;
	max-height: 56 px;
	background-color:darkgray;
	width:100%;
	min-width:1217px;
	padding-top: 9px;
}
.crt {
	width:210px;
	color: white;
	float: right;
	font-variant: small-caps;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
}
.logopis {
	height:40;
	float:right;
	margin-right:10px;
}
.crtl {
	width:210px;
	color: white;
	float: left;
	font-variant: small-caps;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
}